<a href="https://colab.research.google.com/github/Syntaxjelly/Homework-for-paython-basic-class-no-2-/blob/main/Homework%20class%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
## H1: Write a program to perform the subtraction, multipllication and division
a=10
b=20
print(a-b)
print(a*b)
print(a/b)

-10
200
0.5

In [29]:
## H2: Write a program to declare variables for id, name, batch, and hometown, and assign values, and finally print.
Student_id = 'SM-ML-2025-B1-003'
student_name = 'Md shafwan Bin Noor'
student_batch = 'Batch 01'
Hometown = 'Noakhali'

print( Student_id,'\n',student_name,'\n',student_batch,'\n', Hometown)

SM-ML-2025-B1-003
 Md shafwan Bin Noor
 Batch 01
 Noakhali

In [30]:
## H3: Write a program to change values of an integer variable
age = 20

print("Initial value of age:", age)
age = 21

print("Updated value of age:", age)

Initial value of age: 20
Updated value of age: 21

In [45]:
#H4: Write a program to take two string numbers and convert them to integers using explicit type conversion.
x = '10'
y=20
print(type(x))
x=int(x)
sum=x+y
print(sum)
print(type(sum))

<class 'str'>
30
<class 'int'>

In [50]:
## H5: Write a program to calculate and print the average of the three numbers. Round the result to two decimal places.

a=100
b=110
c=991
Avg= a+b+c//3
print(Avg)

540

In [51]:
## H6: Create a simple calculator that performs basic arithmetic operations (addition, subtraction, multiplication, division) based on user input.



num1 = float(input("Enter first number: "))
operationn = input("Enter operationn (+, -, *, /): ")
num2 = float(input("Enter second number: "))

if operationn == '+':
    result = num1 + num2
    print(f"{num1} + {num2} = {result}")

elif operationn == '-':
    result = num1 - num2
    print(f"{num1} - {num2} = {result}")

elif operationn == '*':
    result = num1 * num2
    print(f"{num1} * {num2} = {result}")

elif operationn == '/':
    if num2 == 0:
        print("Error: Division by zero is not allowed!")
    else:
        result = num1 / num2
        print(f"{num1} / {num2} = {result}")

else:
    print("Invalid ")

Enter first number: 10
Enter operationn (+, -, *, /): -
Enter second number: 2
10.0 - 2.0 = 8.0

In [53]:
## H7: Write a program that asks the user to enter a single character and determines whether it is a vowel or a consonant.


char = input("Enter a character: ")
if char in 'aeiou':


    print("Vowel")
else:
    print("Consonant")

Enter a character: p
Consonant

In [55]:
# H8: Create a program that converts temperatures between Fahrenheit and Celsius based on user input.


print("1. Celsius to Fahrenheit")
print("2. Fahrenheit to Celsius")


choice = input("Enter your choice (1 or 2): ")

if choice == '1':

    celsius = float(input("Enter temperature in Celsius: "))
    fahrenheit = (celsius * 9/5) + 32
    print(f"{celsius}°C = {fahrenheit:.2f}°F")

elif choice == '2':

    fahrenheit = float(input("Enter temperature in Fahrenheit: "))
    celsius = (fahrenheit - 32) * 5/9
    print(f"{fahrenheit}°F = {celsius:.2f}°C")

else:
    print("Invalid ")

1. Celsius to Fahrenheit
2. Fahrenheit to Celsius
Enter your choice (1 or 2): 2
Enter temperature in Fahrenheit: 12
12.0°F = -11.11°C

In [58]:
## H9: Write a program that asks the user to enter three numbers and determines which one is the largest.
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))

largest = max(num1, num2, num3)

print(f"The largest number is: {largest}")

Enter the first number: 2
Enter the second number:

ValueError: could not convert string to float: ''